<a href="https://colab.research.google.com/github/ratnesh003/Learning-NLP/blob/main/Assignment%206/nlp_ui21cs48_lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk
from collections import defaultdict
import numpy as np
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt_tab')
nltk.download('averaged_perceptron_tagger_eng')
nltk.download('punkt')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
def get_input_sentences():
    print("Enter sentences (or type 'done' to finish):")
    sentences = []
    while True:
        line = input()
        if line.lower() == 'done':
            break
        sentences.append(line)
    return sentences

In [ ]:
import pandas as pd

In [ ]:
def classify_words_and_transition_matrix(sentences):
    nltk.download('punkt')
    nltk.download('averaged_perceptron_tagger')

    all_tagged_words = []

    for sentence in sentences:
        tokens = nltk.word_tokenize(sentence)
        tagged = nltk.pos_tag(tokens)
        all_tagged_words.extend(tagged)

        print(f"\nSentence: {sentence}")
        for word, tag in tagged:
          print(f"{word}: {tag}")


    states = list(set(tag for _, tag in all_tagged_words))
    transition_counts = defaultdict(lambda: defaultdict(int))
    state_counts = defaultdict(int)

    for i in range(len(all_tagged_words) - 1):
        _, state = all_tagged_words[i]
        _, next_state = all_tagged_words[i + 1]

        if state in states and next_state in states:
            transition_counts[state][next_state] += 1
            state_counts[state] += 1

    transition_matrix = np.zeros((len(states), len(states)))
    for i, state1 in enumerate(states):
        for j, state2 in enumerate(states):
            transition_matrix[i][j] = transition_counts[state1][state2] / state_counts[state1] if state_counts[state1] > 0 else 0

    df_transition = pd.DataFrame(transition_matrix, index=states, columns=states)
    print("\nTransition Matrix:")
    display(df_transition.style.format("{:.2f}"))

    states = list(set(tag for _, tag in all_tagged_words))
    observations = list(set(word for word, _ in all_tagged_words))
    emission_counts = defaultdict(lambda: defaultdict(int))
    state_counts = defaultdict(int)

    for word, state in all_tagged_words:
        if state in states and word in observations:
            emission_counts[state][word] += 1
            state_counts[state] += 1

    emission_matrix = np.zeros((len(states), len(observations)))
    for i, state in enumerate(states):
        for j, obs in enumerate(observations):
            emission_matrix[i][j] = emission_counts[state][obs] / state_counts[state] if state_counts[state] > 0 else 0

    df_emission = pd.DataFrame(emission_matrix, index=states, columns=observations)
    print("\nEmission Matrix:")
    display(df_emission.style.format("{:.2f}"))

In [ ]:
sentences = get_input_sentences()
classify_words_and_transition_matrix(sentences)

Enter sentences (or type 'done' to finish):
I am a boy
The time is good
I am here
I like to eat apple
I play chess
She is a good girl
I like to play cricket
I am worried
done

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

Sentence: I am a boy
I: PRP
am: VBP
a: DT
boy: NN

Sentence: The time is good
The: DT
time: NN
is: VBZ
good: JJ

Sentence: I am here
I: PRP
am: VBP
here: RB

Sentence: I like to eat apple
I: PRP
like: VBP
to: TO
eat: VB
apple: NN

Sentence: I play chess
I: PRP
play: VBP
chess: NN

Sentence: She is a good girl
She: PRP
is: VBZ
a: DT
good: JJ
girl: NN

Sentence: I like to play cricket
I: PRP
like: VBP
to: TO
play: VB
cricket: NN

Sentence: I am worried
I: PRP
am: VBP
worried: JJ

Transition Matrix:

Emission Matrix: